[Desktop Entry]
Encoding=UTF-8
Version=4.0.0.4
Name=FICTECpagos Core Client
Comment=FICTECpagos Graphical UI
Categories=Network;
Exec=/usr/local/bin/fictecpagos
Icon=/usr/share/pixmaps/fictecpagos.png
Terminal=false
Type=Application
